<!DOCTYPE html>

<html>
  <head>
    <% include ./partials/head %>
  </head> 
  
  <body>
    <header>
      <% include ./partials/header %>
    </header>
  
  
  <!-- twitter -->
  <section class="twitter-area">
    <img src="twitter_logo.png">
    <form action="/results" method="GET">
      <input placeholder="Enter a twitter user..." type="search" name="user">
      <button>Search</button>
    </form>
  </section>
  
  <footer>
      <% include ./partials/footer %>
  </footer>


</html>